/* Reset */
*,
*::before,
*::after {padding: 0; margin: 0; border: 0; -webkit-box-sizing: border-box; box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
ul, ol, li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
html, body {line-height: 1; overflow-x: hidden;}
textarea, button, input, select {font-family: inherit; font-weight: inherit; font-size: inherit; color: inherit; outline: none;}
button {cursor: pointer; background-color: inherit;}

/* Variables */
:root {
	--body-bgcolor: #FFFFFF;
	--opacity-bg: rgba(255, 255, 255, 0.25);

	--white-color: #FFFFFF;
	--light-color: #FFF2DD;
	--grey-color: #D3D3D3;
	--gray-color: #7C7C7C;
	--dark-color: #2D2D2D;
	--dark-color2: #0F0E0C;
	--brown-color: #DCD1C5;

	--accent-color: #C1974F;
	--accent-color-hover: #999999;

	--error-color: #FF0000;
	--warning-color: #c9970e;
	--success-color: #128b12;

	--border-radius: 15px;
	--box-shadow: 0 3px 12px 0 rgba(0,0,0,0.1);
	--border: 1px solid var(--accent-color);
}

/*-------------START---------------*/
/*---------------------------------*/

::-webkit-input-placeholder {
	opacity: 1;
	color: var(--gray-color);
}
::-moz-placeholder {
	opacity: 1;
	color: var(--gray-color);
}
:-ms-input-placeholder {
	opacity: 1;
	color: var(--gray-color);
}
::-ms-input-placeholder {
	opacity: 1;
	color: var(--gray-color);
}
::placeholder {
	opacity: 1;
	color: var(--gray-color);
}
::selection {
	background-color: var(--accent-color);
	color: var(--white-color);
}

html {
	overflow-x: hidden;
}

body {
	background: var(--body-bgcolor);
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 400;
	font-style: normal;
	color: var(--dark-color);
	scroll-behavior: smooth;
	min-width: 340px;
	overflow-x: hidden;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
	font-family: 'Forum', serif;
	font-weight: 400;
	line-height: 1.1;
	text-transform: uppercase;
	color: var(--dark-color2);
	margin: 0;
}

h1, .h1 {
	font-size: 44px;
}

h2, .h2 {
	font-size: 40px;
}

h3, .h3 {
	font-size: 36px;
}

h4, .h4 {
	font-size: 32px;
}

h5, .h5, h6, .h6 {
	font-size: 28px;
}

.txt_page h1, .txt_page .h1 { margin-bottom: 8px;}
.txt_page h2, .txt_page .h2,
.txt_page h3, .txt_page .h3,
.txt_page h4, .txt_page .h4,
.txt_page h5, .txt_page .h5,
.txt_page h6, .txt_page .h6 {
	margin-top: 25px;
	margin-bottom: 8px;
}

b, strong { font-weight: 700; }
i, em { font-style: italic; }

a {
	color: var(--dark-color2);
	transition: all 0.3s ease;
}

a:hover, a:active {
	color: var(--accent-color);
}

img { max-width: 100%; }
video { max-width: 100%; }

p:not(:last-child) {
	margin-bottom: 10px;
}

hr {
	border: none;
	border-top: 1px solid var(--grey-color);
	text-align: center;
	height: 1px;
	margin: 20px auto;
	max-width: 90%;
}

.txt_page ol, .txt_page ol,
.txt_page ul, .txt_page ul {
	margin: 10px 0;
	padding-left: 23px;
}

.txt_page ul li {
	list-style: disc;
}

.txt_page ol li {
	list-style: decimal;
}

blockquote {
	border-left: 4px solid var(--accent-color);
	margin: 0 0 10px;
	padding: 6px 10px;
	font-style: normal;
}

.table-wrap {
	overflow-x: auto;
	width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid var(--grey-color);
	margin-bottom: 12px;
}

tr, td {
	border: 1px solid var(--grey-color);
	padding: 5px 10px;
	vertical-align: top;
}

.hidden {
	display: none;
}

@media only screen and (max-width: 991.98px) {
	h1, .h1 {font-size: 38px;}
	h2, .h2 {font-size: 34px;}
	h3, .h3 {font-size: 30px;}
	h4, .h4 {font-size: 26px;}
	h5, .h5, h6, .h6 {font-size: 22px;}
}

@media only screen and (max-width: 574.98px) {
	h1, .h1 {font-size: 34px;}
	h2, .h2 {font-size: 30px;}
	h3, .h3 {font-size: 26px;}
	h4, .h4 {font-size: 24px;}
}

/*-------------BUTTONS-------------*/

.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 0 25px;
	min-width: 260px;
	background-color: var(--accent-color);
	border: none;
	outline: none;
	border-radius: 24px;
	white-space: nowrap;
	color: var(--white-color);
	height: 48px;
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	line-height: 1.1;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	transition: all 0.3s ease;
	overflow: hidden;
}

.btn > .btn__icon {
	font-size: 20px;
	line-height: 0;
}

.btn:hover, .btn:active, .button:focus {
	background-color: var(--accent-color-hover);
	color: var(--dark-color2);
}

/*---------Header-Main-Footer---------*/
/*------------------------------------*/

.wrapper {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}

.wrapper > .main-content {
	flex-grow: 1;
	padding-top: 80px;
}

/*.home .wrapper > .main-content {
	padding-top: 0;
}*/

[class*="__container"] {
	position: relative;
	max-width: 1240px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

[class*="__container"].c--xl {
	max-width: 1680px;
}

[class*="__container"].no--padding {
	padding-left: 0;
	padding-right: 0;
}

[class*="__container-ff"] {
	position: relative;
	max-width: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.fancybox__container {
	position: fixed;
	max-width: inherit;
	padding-left: inherit;
	padding-right: inherit;
	margin: inherit;
	--fancybox-bg: rgba(0, 0, 0, 0.7);
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	height: 80px;
}

.header::before {
	background-color: var(--dark-color2);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	transition: all 0.3s ease;
}

/*.header.header--scroll::before {}
.header.open-menu::before {}*/

.header__container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.header__logo,
.header__menu,
.header__buttons,
.header__mobile-nav {
	position: relative;
}

.header__logo {
	display: inline-block;
	line-height: 0;
	flex: 0 0 166px;
	z-index: 4;
	transition: all 0.3s ease;
}

.header__logo img {
	max-width: 166px;
}

.header__buttons {
	z-index: 4;
}

.header__link {
	font-size: 18px;
	text-transform: capitalize;
	color: var(--white-color);
}

.header__link:hover {
	color: var(--accent-color);
}

.header__menu {
	z-index: 4;
}

.header__menu-list {
	display: flex;
	column-gap: 32px;
	align-items: center;
	flex-wrap: wrap;
}

.header__menu-list .menu-item {
	line-height: 20px;
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	position: relative;
}

.header__menu-list .menu-item > a {
	color: var(--white-color);
	padding: 2px 0;
	border-bottom: 1px solid transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	transition: all 0.3s ease;
}

.header__menu-list .menu-item.current-menu-item > a {
	color: var(--accent-color);
	border-color: var(--accent-color);
	pointer-events: none;
}

.header__menu-list .menu-item:not(.current-menu-item):hover > a {
	color: var(--accent-color);
	border-color: var(--accent-color);
}

.header__mobile-nav {
	position: relative;
	display: none;
}

.header__mobile-menu {
	display: none;
}

.header__mobile-burger {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	margin-right: -5px;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease;
	overflow: hidden;
	z-index: 4;
}

.burger__icon {
	padding-top: 2px;
	font-size: 24px;
	line-height: 1;
	color: var(--white-color);
}

.header__mobile-burger.active .burger__icon {
	color: var(--grey-color);
}

.burger__icon::before {
	font-family: 'icons_font';
	content: '\e900';
}

.header__mobile-burger.active .burger__icon::before {
	content: '\e90b';
}

/*-----mobile-menu-----*/

.header__mobile-menu {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark-color2);
	overflow: auto;
	padding: 90px 30px 30px;
	transition: all 0.3s;
	z-index: 2;
}

.header__mobile-menu.active {
	top: 0;
}

.mobile-menu__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.mobile-menu__list .menu-item {
	position: relative;
	padding: 0;
}

.mobile-menu__list .menu-item > a {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: capitalize;
	color: var(--white-color);
	display: inline-block;
	padding: 7px 0;
}

.mobile-menu__list .menu-item.current-menu-item > a,
.mobile-menu__list .menu-item > a:hover {
	color: var(--accent-color);
}

.mobile-menu__list .menu-item.current-menu-item > a {
	pointer-events: none;
}

/*---end mobile-menu---*/

@media only screen and (max-width: 1199.98px) {
	.header__menu-list {
		column-gap: 26px;
	}
}

@media only screen and (max-width: 1079.98px) {
	.wrapper > .main-content {
		padding-top: 70px;
	}
	.header {
		height: 70px;
	}
	.header__menu,
	.header__buttons {
		display: none;
	}
	.header__buttons.other--pages {
		display: block;
	}
	.header__mobile-nav {
		display: block;
		position: relative;
	}
	.header__mobile-menu {
		display: flex;
	}
}

.footer {
	background-color: var(--dark-color2);
	padding: 60px 0 40px;
	color: var(--white-color);
	font-size: 16px;
	line-height: 1.3;
}

.footer a {
	display: inline-block;
	color: var(--white-color);
}

.footer a:hover {
	color: var(--accent-color);
}

.footer__top,
.footer__middle {
	margin-bottom: 30px;
}

.footer__logo {
	max-width: 166px;
	overflow: hidden;
	line-height: 1;
	margin: 0 auto;
}

.footer__copy {
	text-align: center;
	color: var(--white-color);
}

.footer__copy a {
	color: var(--white-color);
}

.footer__copy a:hover {
	color: var(--accent-color);
}

.footer__middle {
	display: flex;
	gap: 30px;
	justify-content: space-between;
}

.footer__middle-left {
	max-width: 50%;
}

.footer__middle-right {
	max-width: 340px;
	width: 100%;
}

.conts-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.conts-list li {
	display: flex;
	gap: 8px;
}

.conts-list li span {
	display: inline-block;
	font-size: 22px;
	line-height: 1;
}

.footer__wtime {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 5px;
}

.footer__wtime p {
	margin: 0;
}

.soc-list {
	margin-top: 15px;
	display: flex;
	justify-content: end;
	gap: 12px;
	line-height: 1;
}

.soc-list li > a {
	background-color: transparent;
	background-size: auto 32px;
	background-repeat: no-repeat;
	background-position: 0 0;
	display: inline-block;
	height: 32px;
	width: 32px;
	overflow: hidden;
	text-indent: -99999px;
}

.soc-list li > a:hover {
	opacity: 0.7;
}

.soc-list li.yt > a {
	background-image: url('../img/soc-yt.svg');
	width: 44px;
}

.soc-list li.ins > a {
	background-image: url('../img/soc-insta.svg');
}

.soc-list li.fb > a {
	background-image: url('../img/soc-fb.svg');
}

.scroll-top {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white-color);
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.15);
	bottom: 50px;
	right: -100%;
	color: var(--accent-color);
	line-height: 1;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	padding: 3px;
	transition: all 0.8s ease;
	overflow: hidden;
	z-index: 4;
	cursor: pointer;
}

.scroll-top:hover {
	color: var(--dark-color2);
}

.scroll-top.visible {
	right: 20px;
}

.scroll-top > span {
	font-size: 18px;
	line-height: 0;
}

@media only screen and (max-width: 1079.98px) {
	.footer {
		padding-top: 40px;
	}
	.footer__middle {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer__middle-left {
		max-width: 340px;
	}
	.footer__wtime {
		align-items: center;
		text-align: center;
	}
	.soc-list {
		justify-content: center;
	}
	.conts-list {
		align-items: center;
	}
}

/*---------All CSS----------*/
/*--------------------------*/

.sect {
	position: relative;
	padding: 55px 0;
}

.default-sect {
	padding: 60px 0 60px;
}

.default__content-text {
	margin-top: 30px;
}

.content-404 {
	padding: 80px 0;
	text-align: center;
}

.number-404 {
	font-size: 110px !important;
	font-weight: 700;
	line-height: 0.8;
	color: var(--accent-color-hover);
	margin-bottom: 25px;
}

.title-404 {
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 35px !important;
	text-transform: uppercase;
}

.title-404 span {
	display: inline-block;
}

.button-back {
	margin-top: 20px;
	text-align: center;
}

.btn__back,
.btn__404 {
	min-width: 200px;
}

.sect-header {
	max-width: 800px;
	margin: 0 auto 35px;
	text-align: center;
}

.sheader__title {
	font-size: 40px;
	line-height: 1.1;
	color: var(--dark-color2);
}

.sheader__desc {
	max-width: 600px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	color: var(--dark-color);
}

.sheader__desc span,
.sheader__title span {
	color: var(--accent-color);
}

.sect__buttons {
	margin-top: 40px;
	position: relative;
	text-align: center;
}

.carousel__navigation {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.carousel__pagination {
	display: inline-flex;
	gap: 6px;
	justify-content: center;
	align-items: center;
	width: auto !important;
	min-width: 240px;
}

.carousel__pagination .swiper-pagination-bullet {
	background-color: var(--grey-color);
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin: 0 !important;
	opacity: 1;
	overflow: hidden;
	transition: all 0.3s ease;
}

.carousel__pagination .swiper-pagination-bullet:hover {
	background-color: var(--gray-color);
}

.carousel__pagination span.swiper-pagination-bullet-active:hover,
.carousel__pagination span.swiper-pagination-bullet-active {
	background-color: var(--accent-color);
	width: 20px;
	opacity: 1;
}

.carousel__btn-prev,
.carousel__btn-next {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	border: 2px solid var(--accent-color);
	line-height: 0;
	font-size: 18px;
	color: var(--accent-color);
	text-align: center;
	transition: all 0.3s ease;
	cursor: pointer;
	overflow: hidden;
}

.carousel__btn-prev:hover,
.carousel__btn-next:hover {
	border-color: var(--accent-color-hover);
	color: var(--accent-color-hover);
}

/*----------------------------------*/

.hero-sect {
	height: calc(100vh - 80px);
	min-height: 500px;
	padding-bottom: 190px;
}

.hero-sect::before {
	background-color: rgba(0,0,0,0.65);
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
}

.hero__decor {
	background-color: transparent;
	background-image: url('../img/decor-bottom.svg');
	background-repeat: repeat-x;
	background-position: left bottom;
	background-size: auto 100%;
	position: absolute;
	display: block;
	width: 100%;
	height: 130px;
	left: 0;
	bottom: 0;
	z-index: 3;
}

.hero__bgs {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.hero__bgs > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 1.2s ease;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.hero__bgs > img.active {
	opacity: 1;
}

.hero__container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	z-index: 4;
}

.hero__content {
	max-width: 1000px;
	text-align: center;
	color: var(--light-color);
}

.hero__title {
	font-size: 68px;
	color: var(--white-color);
	text-transform: uppercase;
}

.hero__desc {
	margin-top: 15px;
	color: var(--grey-color);
	font-size: 18px;
}

.hero__desc p:not(:last-child) {
	margin-bottom: 6px;
}

.hero__buttons {
	margin-top: 35px;
}

.about-sect {
	padding-top: 80px;
	background-color: var(--light-color);
}

.about__cards {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.about__card {
	display: flex;
	align-items: center;
	gap: 40px;
}

.about__card.card-reverse {
	flex-direction: row-reverse;
}

.about__card-col {
	flex: 0 1 50%;
}

.about__card-title {
	font-size: 38px;
}

.about__card-text {
	margin-top: 15px;
}

.about__card-buttons {
	margin-top: 25px;
}

.about__card-img {
	height: 510px;
	position: relative;
	border-radius: var(--border-radius);
	border: var(--border);
	box-shadow: var(--box-shadow);
	overflow: hidden;
}

.about__card-img > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

.built-sect {
	background-color: var(--light-color);
}

.built-carousel .swiper-slide {
	position: relative;
	width: 224px;
	box-sizing: border-box;
	height: auto;
}

.built__card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	background-color: var(--opacity-bg);
	padding: 24px 16px 20px;
	border-radius: var(--border-radius);
	border: var(--border);
	box-shadow: var(--box-shadow);
	overflow: hidden;
	height: 100%;
	text-align: center;
	transition: all 0.3s ease;
}

.built__card:hover {
	background-color: rgba(255, 255, 255, 0.9);
}

.built__card-icon {
	flex: 0 0 114px;
	height: 114px;
	overflow: hidden;
}

.built__card-icon > img {
	width: auto;
	height: 100%;
	pointer-events: none;
}

.built__card-title {
	display: flex;
	height: 100%;
	align-items: center;
	font-size: 20px;
}

.selection-sect {
	background-color: var(--light-color);
	padding-bottom: 150px;
}

.selection__decor {
	background-color: var(--white-color);
	background-image: url('../img/decor-top.svg');
	background-repeat: repeat-x;
	background-position: left bottom;
	background-size: auto 100%;
	position: absolute;
	display: block;
	width: 100%;
	height: 130px;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.selection__container {
	z-index: 2;
}

.selection__cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.selection__card {
	flex: 0 1 calc(50% - 10px);
	background-color: var(--opacity-bg);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding: 12px;
	overflow: hidden;
}

.selection__card-img {
	display: block;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
}

.selection__card-img img {
	transform: scale(1);
	transition: all 0.5s ease;
}

.selection__card-img:hover img {
	transform: scale(1.04);
}

.wholesale-sect {
	padding-bottom: 80px;
}

.wholesale__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 330px);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.wholesale__card {
	background-color: var(--opacity-bg);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	overflow: hidden;
}

.wholesale__card.wcard--text {
	padding: 35px 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 0.3s ease;
}

.wholesale__card.wcard--text:hover {
	background-color: var(--light-color);
}

.wholesale__card-img {
	position: relative;
	height: 100%;
}

.wholesale__card-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wholesale__card-title {
	font-size: 24px;
}

.wholesale__card-text {
	margin-top: 10px;
}

.wholesale__card-text p:not(:last-child) {
	margin-bottom: 6px;
}

.trust-sect {
	padding: 80px 0;
	background-color: var(--light-color);
	background-image: url('../img/bg_trust.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.trust__carousel .swiper-slide {
	box-sizing: border-box;
	height: auto;
}

.trust__card {
	background-color: var(--white-color);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding: 12px;
	overflow: hidden;
	height: 100%;
	transition: all 0.3s ease;
}

.trust__card-video {
	display: block;
	position: relative;
	background-color: var(--dark-color2);
	border-radius: 10px;
	height: 300px;
	cursor: pointer;
	overflow: hidden;
}

.trust__card-video > img {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.5s ease;
	pointer-events: none;
	opacity: 0.6;
}

.video-play {
	display: block;
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: all 0.5s ease;
	z-index: 1;
}

.trust__card-video:hover > img { opacity: 0.4; }
.trust__card-video:hover .video-play { transform: translate(-50%, -50%) scale(1.05); }

.carousel__navigation.trust--navi {
	display: none;
}

.gallery-sect {
	padding-top: 80px;
}

.reviews__carousel,
.gallery__carousel {
	position: relative;
	overflow: hidden;
	padding: 1px 1px 0;
}

.reviews__carousel .swiper-slide,
.gallery__carousel .swiper-slide {
	position: relative;
	width: calc(100% / 3 - 13.333px);
	box-sizing: border-box;
	height: auto;
}

.gallery__card {
	display: block;
	background-color: var(--gray-color);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	overflow: hidden;
	height: 100%;
	cursor: pointer;
}

.gallery__card > img {
	transform: scale(1);
	transition: all 0.5s ease;
}

.gallery__card:hover > img {
	transform: scale(1.04);
}

.reviews__card {
	background-color: var(--white-color);
	padding: 20px 20px;
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	overflow: hidden;
	height: 100%;
	transition: all 0.3s ease;
}

.reviews__card:hover {
	background-color: var(--light-color);
}

.reviews__card-header {
	display: flex;
	gap: 12px;
	justify-content: space-between;
}

.reviews__card-icon {
	flex: 0 0 24px;
}

.reviews__card-name {
	font-size: 18px;
	font-weight: 500;
	color: var(--dark-color2);
}

.reviews__card-date {
	margin-top: 3px;
	font-size: 16px;
	color: var(--dark-color);
}

.reviews__card-rating {
	margin-top: 14px;
	margin-left: -3px;
	max-width: 118px;
	line-height: 0;
}

.reviews__card-body {
	margin-top: 5px;
	font-size: 16px;
	color: var(--dark-color);
}

.contacts-sect {
	padding-bottom: 80px;
}

.contacts__content {
	display: flex;
	gap: 20px;
}

.contacts__col {
	flex: 0 1 calc(100%/2 - 10px);
}

.contacts__form-wrap {
	position: relative;
	background-color: var(--white-color);
	padding: 18px 20px 20px;
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	overflow: hidden;
}

.contacts__map {
	position: relative;
	background-color: var(--light-color);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	line-height: 0;
	overflow: hidden;
	height: 100%;
}

.contacts__map > iframe {
	width: 100%;
	height: 100%;
}

/*-------------------PAGES-------------------*/

.page-template-page-products .wrapper {
	background-color: var(--light-color);
}

.products-sect.sect {
	padding: 55px 0 60px;
}

.products-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 30px;
	column-gap: 20px;
}

.product-card {
	display: flex;
	flex-direction: column;
	background-color: var(--opacity-bg);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding: 12px;
	overflow: hidden;
}

.product-card__img {
	display: block;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
}

.product-card__img img {
	transform: scale(1);
	transition: 0.3s;
}

.product-card__img:hover > img {
	transform: scale(1.03);
}

.product-card__title {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 24px;
}

.product-card__info {
	margin-top: auto;
}

.product-card__tag {
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.1;
	color: var(--dark-color);
	height: 36px;
	padding: 0 15px 0 10px;
	border: 1px solid var(--brown-color);
	border-radius: 8px;
	overflow: hidden;
}

.singleprod__tag::before,
.product-card__tag::before {
	background-image: url('../img/icon_pricetag-outline.svg');
	background-size: 100% auto;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	overflow: hidden;
	line-height: 1;
	z-index: 1;
}

.product-card__price {
	margin-top: 8px;
	font-size: 28px;
}

.product-card__price span {
	font-size: 18px;
	color: var(--dark-color);
}

.product-card__btn {
	margin-top: 20px;
	min-width: auto;
}

.singleprod-sect.sect {
	background-color: var(--light-color);
	padding: 65px 0 145px;
}

.singleprod__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.singleprod__img-wrap {
	background-color: var(--opacity-bg);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding: 12px;
}

.singleprod__img {
	display: block;
	border-radius: 10px;
	height: 100%;
	cursor: pointer;
	overflow: hidden;
}

.singleprod__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1);
	transition: all 0.3s ease;
}

.singleprod__img:hover img {
	transform: scale(1.03);
}

.singleprod__info {
	display: flex;
	flex-direction: column;
}

.singleprod__title {
	font-size: 40px;
}

.singleprod__tag {
	margin-top: 8px;
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	font-size: 18px;
	font-weight: 400;
	color: var(--dark-color);
	text-transform: uppercase;
	line-height: 1.1;
}

.singleprod__sizes {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.singleprod__size {
	background-color: var(--opacity-bg);
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	color: var(--dark-color);
	height: 36px;
	padding: 0 15px 0 10px;
	border: 1px solid var(--brown-color);
	border-radius: 8px;
	overflow: hidden;
}

.singleprod__size::before {
	background-size: 100% auto;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	overflow: hidden;
	line-height: 1;
	z-index: 1;
}

.singleprod__size.s-lenght::before {
	background-image: url('../img/icon_top-bottom.svg');
}

.singleprod__size.s-width::before {
	background-image: url('../img/icon_left-right.svg');
}

.singleprod__price-wrap {
	margin-top: 15px;
	padding: 30px 0;
	border-top: 1px solid var(--brown-color);
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.singleprod__price-text {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1.2;
}

.singleprod__price {
	font-size: 36px;
}

.singleprod__price span {
	font-size: 24px;
	color: var(--dark-color);
}

/*.singleprod__order {
	margin-top: auto;
}*/

.order-popup.fancybox__content {
	position: relative;
	background-color: var(--white-color);
	padding: 25px 20px 25px;
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

.singleprod__addition {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.singleprod__bottom,
.singleprod__overview,
.singleprod__details {
	position: relative;
	background-color: var(--opacity-bg);
	padding: 25px 20px 25px;
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

.singleprod__subtitle {
	font-size: 32px;
	margin-bottom: 15px;
}

.singleprod__overview-top {
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	min-width: 200px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--brown-color);
}

.singleprod__overview-line {
	font-size: 18px;
	line-height: 1.2;
	color: var(--dark-color);
	display: flex;
	gap: 30px;
	justify-content: space-between;
}

.singleprod__overview-ttl {
	display: flex;
	gap: 8px;
	position: relative;
	align-items: center;
}

.singleprod__overview-ttl::before {
	background-size: 100% auto;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	overflow: hidden;
	line-height: 1;
	z-index: 1;
}

.singleprod__overview-ttl.ic-sku::before {
	background-image: url('../img/icon_park-outline.svg');
}

.singleprod__overview-ttl.ic-unit::before {
	background-image: url('../img/icon_tabler_package.svg');
}

.singleprod__overview-table {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.singleprod__overview-row {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	padding-bottom: 2px;
	border-bottom: 2px dotted var(--brown-color);
}

.singleprod__overview-col:last-child {
	text-align: right;
}

.singleprod__bottom {
	margin-top: 40px;
	background-image: url('../img/decor-wood.png');
	background-size: 400px auto;
	background-position: top -5px right -5px;
	background-repeat: no-repeat;
	min-height: 200px;
}

.singleprod__service {
	max-width: 560px;
}

.similar-sect.sect {
	padding: 35px 0 60px;
}

/*-------------------------------------------*/
/*------------------MEDIA--------------------*/

@media only screen and (min-width: 767.99px) {
	.trust__carousel .swiper-wrapper {
		flex-wrap: wrap;
		gap: 20px;
	}
	.trust__carousel .swiper-slide {
		flex: 0 1 calc(50% - 10px);
	}
}

@media only screen and (max-width: 1199.98px) {
	[data-aos] {
		opacity: 1 !important;
		transform: none !important;
	}
	.sect {
		padding: 50px 0;
	}
	.sect-header {
		margin-bottom: 30px;
	}
	.singleprod__title,
	.sheader__title {
		font-size: 36px;
	}
	.sheader__desc {
		margin-top: 10px;
	}
	.sect__buttons {
		margin-top: 30px;
	}
	.hero__title {
		font-size: 62px;
	}
	.hero-sect {
		padding-bottom: 170px;
	}
	.selection__decor,
	.hero__decor {
		background-position: 20% 100%;
		height: 100px;
	}
	.singleprod-sect.sect,
	.selection-sect {
		padding-bottom: 120px;
	}
	.wholesale__card-title {
		font-size: 22px;
	}
	.trust__card-video {
		height: 280px;
	}
	.products-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (max-width: 1079.98px) {
	.hero-sect {
		height: calc(100vh - 70px);
	}
	.reviews__carousel .swiper-slide,
	.gallery__carousel .swiper-slide {
		width: calc(100% / 2 - 10px);
	}
}

@media only screen and (max-width: 991.98px) {
	.singleprod__title,
	.sheader__title {
		font-size: 32px;
	}
	.hero__title {
		font-size: 56px;
	}
	.hero__desc {
		font-size: 16px;
	}
	.about-sect {
		padding-top: 60px;
	}
	.about__cards {
		gap: 50px;
	}
	.about__card,
	.about__card.card-reverse {
		flex-direction: column;
		align-items: inherit;
		gap: 25px;
	}
	.about__card-col {
		flex: 0 1 100%;
		width: 100%;
	}
	.about__card-text {
		margin-top: 10px;
	}
	.about__card-title {
		font-size: 32px;
	}
	.about__card-buttons {
		margin-top: 20px;
	}
	.trust__card,
	.selection__card {
		padding: 8px;
	}
	.wholesale__cards {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 300px);
	}
	.contacts-sect,
	.wholesale-sect {
		padding-bottom: 65px;
	}
	.trust-sect {
		padding: 65px 0;
	}
	.trust__card-video {
		height: 260px;
	}
	.gallery-sect {
		padding-top: 65px;
	}
	.singleprod__subtitle {
		font-size: 26px;
	}
	.singleprod__content {
		grid-template-columns: 1fr;
		gap: 25px;
	}
	.singleprod__bottom {
		background-size: 220px auto;
		min-height: 120px;
	}
}

@media only screen and (max-width: 859.98px) {
	.selection__cards {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.selection__card {
		flex: 0 1 100%;
		width: 100%;
	}
	.wholesale__card.wcard--text {
		padding: 25px;
	}
	.contacts__content {
		flex-direction: column;
	}
	.contacts__col {
		flex: 0 1 100%;
		width: 100%;
	}
	.contacts__map {
		height: 420px;
	}
	.products-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.singleprod__addition {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 767.98px) {
	.selection__decor,
	.hero__decor {
		background-position: 22% 100%;
		height: 80px;
	}
	.selection-sect {
		padding-bottom: 100px;
	}
	.about__card-img {
		height: 460px;
	}
	.carousel__navigation.trust--navi {
		display: flex;
	}
	.trust-sect .sect__buttons {
		display: none;
	}
	.reviews__carousel .swiper-slide,
	.gallery__carousel .swiper-slide {
		width: 100%;
	}
}

@media only screen and (max-width: 599.98px) {
	.carousel__pagination {
		display: none;
	}
	.sheader__title {
		font-size: 30px;
	}
	.hero__title {
		font-size: 50px;
	}
	.about-sect {
		padding-top: 50px;
	}
	.about__card-img {
		height: 360px;
	}
	.about__card-title {
		font-size: 28px;
	}
	.wholesale__card-title {
		font-size: 20px;
	}
	.wholesale__cards {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.wholesale__card.wcard--text {
		padding: 20px;
	}
	.products-grid {
		grid-template-columns: 1fr;
	}
	.singleprod__bottom {
		background-size: 160px auto;
	}
}

@media only screen and (max-width: 479.98px) {
	.about__card-buttons {
		text-align: center;
	}
	.about__card-img {
		height: 280px;
	}
	.trust__card-video {
		height: 220px;
	}
	.singleprod__btn {
		width: 100%;
	}
	.singleprod__overview-top {
		width: 100%;
	}
}